<!-- 外部サイト -->
{{- range .Params.external }}
  {{- $.Scratch.Add "external" (slice (dict "Title" .title "URL" .url )) }}
{{- end -}}

<!-- Wikipedia(ja) -->
{{- range .Params.wpja }} 
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - Wikipedia") "URL" (print "https://ja.wikipedia.org/wiki/" . ))) }}
{{- end }}

<!-- Wikipedia(en) -->
{{- range .Params.wpen }} 
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - Wikipedia") "URL" (print "https://en.wikipedia.org/wiki/" . ))) }}
{{- end }}

<!-- ニコニコ大百科 -->
{{- range .Params.nico }}
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - ニコニコ大百科") "URL" (print "https://dic.nicovideo.jp/a/" . ))) }}
{{- end }}

<!-- ピクシブ百科事典 -->
{{- range .Params.pixiv }}
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - ピクシブ百科事典") "URL" (print "https://dic.pixiv.net/a/" . ))) }}
{{- end }}

<!-- e-Words -->
{{- range .Params.ewords }}
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - IT用語辞典") "URL" (print "http://e-words.jp/w/" . ".html"))) }}
{{- end }}

<!-- Weblio -->
{{- range .Params.weblio }}
  {{- $.Scratch.Add "external" (slice (dict "Title" (print . " - Weblio辞書") "URL" (print "https://www.weblio.jp/content/" . ))) }}
{{- end }}

<!-- 外部サイトがある場合に表示 -->
{{- with $.Scratch.Get "external" }}
  <h2 id="partials-external">外部サイト</h2>
  <ul>
  {{- range . }}
    <li><a href="{{ .URL }}" target="_blank" rel="noopener">{{ .Title }}</a></li>
  {{- end }}
  </ul>
{{- end -}}
